.snackbar {
    position: fixed;
    bottom: -70px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: transform .2s ease-in;

    &__wrapper {
        background-color: #202020;
        display: flex;
        height: 78px;
        padding: 18px;
        align-items: center;
    }

    &__label {
        color: #fff;
        width: 70%;
        font-size: 16px;
        font-weight: 600;
    }

    &__actions {
        flex: 1;
        text-align: end;
    }

    &__action {
        color: #D63333;
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 600;

        &:active {
            opacity: .5;
        }
    }

    &--active {
        opacity: 1;
        visibility: visible;
        transform: translateY(-70px);
    }
}