<header class="header">
  <div class="header__container container">
    <a routerLink="/">
      <img
        src="assets/images/header-logo-{{ (isDarkMode$ | async) ? 'dark' : 'light' }}.svg"
        alt="Youtube & Notion logo">
    </a>

    <div class="header__aside-links">
      <app-theme-switch></app-theme-switch>

      <a
        class="header__aside-links--github"
        href="https://github.com/ChristianGustavo/youtube-notion-integration"
        target="_blank"
      >
        <img src="assets/images/header-github.svg" alt="GitHub logo">
      </a>
    </div>
  </div>
</header>
