.header {
  display: none;

  @include md {
    &.result-list {
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      padding: 0 64px;
      background-color: #fff;
    }

    &__logo {
      width: 174px;
      height: 74px;
    }

    &__github-logo {
      width: 52px;
      height: 52px;
    }
  }

}
