.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);

    &-content {
        background-color: #fff;
        margin: 0 auto;
        border-radius: 6px;
        padding: 22px 16px;
        width: 296px;
        margin-top: 40px;
    }

    &__header {
        text-align: center;
        position: relative;

        &-img {
            width: 160px;
            height: 86px;
        }

        &-title {
            position: absolute;
            top: 11px;
            left: 67px;
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            width: 130px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    &__button {
        width: 105px;
        height: 37px;
        border-radius: 5px;
        border: none;
        font-family: $base-font;

        &--primary {
            background-color: #202020;
            color: #fff;
            font-weight: 700;
        }

        &--secondary {
            background: rgba(32, 32, 32, 0.2);
            font-weight: 400;
        }
    }
}