.search-result {
    display: none;

    hr {
        margin: 9px 16px 0px 16px;
        background-color: #C4C4C4;
        opacity: .2;
    }

    &__title {
        font-weight: 400;
        margin-top: 16px;
        margin-left: 16px;

        &--secondary {
            font-size: 14px;
            opacity: 0.5;

            &--lg {
                font-size: 16px;
                margin-top: 9px;
            }
        }

        &--primary {
            font-size: 16px;
        }
    }
}

.search-result.result-list {
    display: block;
}