.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  margin: auto;
  align-self: center;
  justify-self: center;
  width: 100%;

  .github-description__logo {
    display: none;
  }

  &__input {
    position: relative;
    margin-top: 50px;
    width: 100%;

    input {
      padding-left: 18px;
      width: 100%;
      max-width: 820px;
      height: 56px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      outline: none;
    }

    input:focus {
      border: 1px solid rgba(0, 0, 0, 0.3)
    }

    button {
      position: absolute;
      top: 50%;
      left: calc(100% - 53px);
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      height: 98%;
      padding: 10px 10px;
      border-radius: 0 5px 5px 0;
    }
  }

  &__btn {
    background-color: $black; 
    color: $white;
    padding: 18px 25px;
    border: 0;
    border-radius: 5px;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    width: 156px;
  }

  &__btn:active {
    transform: scale(0.9);
  }

  &__img {
    width: 172px;
    max-width: 335px;
  }

  &.result-list {
    margin: 6px 17px 0px 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .github-description__logo {
      display: block;
      width: 30px;
      height: 30px;
      justify-self: end;
    }

    .search {
      &__img {
        width: 70px;
        height: 29px;
      }

      &__input {
        margin-top: 24px;
        width: 100%;
        grid-column: 1 / 3;
        box-shadow: 10px 10px 30px rgba(255, 203, 71, 0.06);
      }

      &__btn {
        display: none;
      }
    }
  }

  @include md {
    &.result-list {
      margin-left: 64px;

      .github-description__logo {
        display: none;
      }

      .search__img {
        display: none;
      }
    }

    &__input {
      width: 700px;
    }

    &__img {
      width: 100%;
    }

    &__input {
      @include md {
        max-width: 820px;
      }
    }
  }

  @include lg {
    &.result-list {
      margin-left: 300px;
    }
  }
}
